*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
}

h4, h5{
    color: hsl(184, 14%, 56%);
}

button{
    border: none;
    outline: none;
}

label{
    display: flex;
    justify-content: space-between;
}
.error-mssg{
    color: red;
    font-weight: 700;
}
.amt-error,
.people-error{
    visibility: hidden;
}


.amount{
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
}

.people{
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
}

.calc{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
    max-width: 1040px;
}

.input h4{
    margin-bottom: 1em;
}

.amount, .tips{
    margin-bottom: 1.5rem;
}
.amount:focus,
.people:focus,
.custom:focus{
    outline: 2px solid hsl(172, 67%, 45%);
}
.error,
.error:focus{
    outline: 2px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

input{
    width: 100%;
    height: 50px;
    background: hsl(189, 41%, 97%);
    background-position: 1em center ;
    background-size: 1em;
    color: hsl(172, 67%, 45%);
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    outline: none;
    border: none;
    border-radius: 1vh;
    -webkit-appearance: none; 
    -moz-appearance: textfield;
    padding: 0 1em;
}

.tips{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.tip{
    font-size: 1.5em;
    font-weight: 700;
    background: hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
    cursor: pointer;    
}
.unselected:hover{
    background: hsl(172, 67%, 75%);
    color: hsl(183, 100%, 15%);
}
.tip:active{
    transform: scale(0.9);
}

.tip-amount, .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected{
    background-color:hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.text h4{
    color:hsl(0, 0%, 100%);
}

.text h4, h5{
    font-weight: 400;
}

.value{
    color:hsl(172, 67%, 45%);
    font-size: 2em;
    font-weight: 700;
}

.custom{
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    text-align: center;
}

.result{
    padding: 2em;
    background: hsl(183, 100%, 15%);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.reset{
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color:hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 1vh;
    margin-top: auto;
    transition: background 300ms ease-in-out,
                transform 200ms ease-in-out;
    cursor: pointer;    
}
.reset:hover{
    background: hsl(172, 67%, 75%);
}
.reset:active{
    transform: scale(0.95);
}


@media(min-width: 990px){
    .calc{
        display: flex;
        gap: 1em;
    }
    .calc > *{
        width: 100%;
    }
    .tips{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

.attribution{ 
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    left: 0;
    bottom: 0;
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}